.DS_Store
node_modules
/dist
/frontend/public/build

# local env files
.env
.env.local
.env.*.local
.runtimeconfig.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log
firestore-debug.log
ui-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Steam Quest.json